*{
    margin: 0;
    padding: 0;
}
.navbar-light .navbar-nav .nav-link {
    color: #0b31a4;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
}
.banner{
    background-image: url(../images/banner.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 90vh;
    position: relative;
}
.banner h1{

    color: #fff;
    font-size: 65px;
    text-transform: uppercase;
}
.hg{
    align-items: center;
    height: 90vh;
}
.icon{
    
    color: #fff;
    font-size: 30px;
    position: absolute;
    left: 50%;
    top: 70%;
    
    transform: translateX(-50%);
    animation: updown 3s linear infinite ;
    animation-direction: alternate;
}
@keyframes updown{
    0%{
        top:75%
    }
    100%{
        top:80%
    }

}
.who_we_are{
    padding-top: 80px;

}
.who_we_are span{

    height: 5px;
    width: 0px;
    display: inline-block;
    background:#FF6600;
    transition: .4s all ease-in-out;
}
.who_we_are h1{

    color: #0F32AB;
    font-size: 45px;
}
.who_we_are p {
    color: #b0b0b1;
    
}
.who_we_are:hover span{
    width: 50px;
   
}

.what_we_do{
    background-color: #F9FCFA;
    background-image: url(../images/what\ we\ do\ bg.png);
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: ;
    padding: 100px 0;
    background-size: 1280px;
}

 .what_we_do:hover .heading span{
     width: 50px;
 }
.heading{
    padding-top: 50px;


}
.heading span{
    height: 5px;
    width: 0px;
    display: inline-block;
    background:#FF6600;
    display: block;
    margin: auto;
    transition: .5s all ease-in-out;

}
.heading h1{
    color: #0F32AB;
    font-size: 45px;
    text-align: center;
    
}
.text{
    transform: translate(-20px, -220px);
    margin-left: 34%;
    
}
    
.text h1{
    
    color: #f8f9fa;
    font-size: 25px;
}
.images:hover .text{
    opacity: 1;
    top: 50%;
}
.image_icon{
    transform: translate(-20px, -170px);
    margin-left: 38%;
    color: #fff;
    font-size: 50px;
    

}
.attroney_section{
    background-image: url(../images/our\ banner\ part.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0; 
    margin-top: 20px;
}
.attroney_section span{
    margin-top: 20%;
    width: 0px;   
    height: 5px;
    display: block;
    background-color: #FF4900;
    transition: .5s all ease-in-out;

}
.attroney_section h1{
    padding-top: 20px;
    color: #fff;
    font-size: 28px;
}
.attroney_section p{
    
    color: #686AD2;
}
.attroney_section a{
    
    color: #FF5D07;
    text-decoration: none;
}
.attroney_section:hover span{
    width: 50px;

}
.designation{
    color: #fff;
    transform: translate(-20px, -100px);
    margin-left: 10%;
    font-size: 25px;
    

}
.language:hover .heading span{
    width: 50px;
}
.language{

}
.language h2{
     color: #0F32AB;
    font-size: 30px;

}
.language p{
    color: #b0b0b1;

}
.language a{
    color: #FF5D07;
    text-decoration: none;
    font-weight: 600;
}
.contact{
    background-color: #170DA3;


}
.contact h1{
    
    color: #fff;
}
form{

}
input::placeholder{
    color: #fff !important;
}
form input{

    background: transparent !important;
    border:  none !important;
    border-bottom: 1px solid #433FDD !important;
    border-radius: 0 !important;
}
form textarea::placeholder{
    color: #fff !important;
}
form textarea:focus{
    box-shadow: none !important;
}


form textarea{
    background: transparent !important;
    border:  none !important;
    border-bottom: 1px solid #433FDD !important;
    border-radius: 0 !important;
}
form input[type="submit"]{
    border: none !important;
    color: #fff;
    padding: 10px 50px;
    background: #FF5D07 !important;
    border: 1px solid #FF5D07 !important;
    
}
form input:focus{
    box-shadow: none !important;
}

footer{
    background-color: #07072F;

}
footer p{
    color: #4F53BD;
}

footer ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    letter-spacing: 15px;
    font-size: 23px;
}
footer p ul a{
    color: #fff;
}




    

    
